@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dress IT</h1>
    <p> Create the perfect outfits- simple and stylish</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Enter Wardrobe</h2>
        <p>
            Upload images of your tops, bottoms, shoes and accessories.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Wardrobe Items", "Create", "WardrobeItems")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create Outfits</h2>
        <p>Mix and match your wardrobe items to create the perfect outfit. </p>
        <p><a class="btn btn-default" @Html.ActionLink("Create Outfits", "Create", "Outfits")</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Outfits</h2>
        <p>View your combination of outfits.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Outfits", "Index", "Outfits")</a></p>
    </div>
</div>